@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
    html {
      font-family: "Exo", sans-serif, system-ui;
      scroll-behavior: smooth;
    }
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    margin: 24px 0px;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    background-clip: content-box;
    border: 6px solid transparent;
    border-radius: 12px;
}